h1 {
    text-align: center;
    margin-bottom: 5vh;
}

header ul {
    min-width: fit-content;
    margin: 0 auto !important;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
}

.tiles-grid > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiles-grid > div > .branding-bar {
    text-align: center;
}

.tiles-grid > div > .data {
    font-size: 7vh;
}

#_dashboard {
    display: grid;
    width: auto;
}