#filter {
    border-bottom: 1px solid black;
    padding: 2vh;
    margin-bottom: 5vh;
}

#selection {
    border-right: 1px solid black;
    padding: 5vh;
}

#selection > select {
    width: auto;
    -webkit-appearance: button;
}

main {
    display: grid;
    grid-template-columns: min-content auto;
    padding: 5vh;
}

#matinfo {
    display: grid;
    grid-template-columns: max-content auto;
    color: white;
    align-items: center;
    padding: 5vh;
}

#matinfo > p {
    margin: 0px;
}

#matinfo > * {
    height: 100%;
    display: flex;
    align-items: center;
}

#matinfo > *:not(:nth-child(11)):not(:nth-child(12)):not(:nth-child(13)):not(:nth-child(14)) {
    border-bottom: 1px solid grey;
}

.label {
    padding: 10px;
    align-self: center;
}

p, span:not(p > span) {
    padding-left: 10px;
}

.notice-parts {
    display: flex;
}

#notice {
    height: 100%;
}

#btn {
    margin-left: 20px;
    background: #1ba1e2 !important;
}

.info:not(:hover) {
    color: #1ba1e2 !important;
    border-color: #1ba1e2 !important;
}

.info:hover {
    background: #1ba1e2 !important;
}

input[type='file'] {
    border: none;
    width: auto;
    display: none;
    margin: 0px;
}

label[for='image'] {
    border: 1px solid #1ba1e2;
    border-radius: 10px;
    padding: 2vh;
    width: max-content;
    display: block;
    cursor: pointer;
}

#materialimage {
    max-width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}